<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aministracion blog</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>
<div>
    <div th:include="~{blogs/layout :: header}"></div>
</div>
<body>
<div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-2" th:include="~{blogs/nav :: nav}"></div>
            <div class="col-md-8">

                <div class="container">
                    <div class="row">
                        <h1>List Blog Post</h1>
                    </div>
                    <div class="col mt-2" th:include="~{admin/navAdmin :: navAdmin}"></div>
                <table class="table table-striped table-hover table-bordered mt-4">
                    <thead class="table-dark">
                    <th style="width:10%">#</th>
                    <th style="width:20%" >Post Title</th>
                    <th style="width:20%" >Description</th>
                    <th style="width:20%" >Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each = "blog, blogStat : ${Blogs}" class="">
                        <td th:text="${blogStat.count}">1</td>
                        <td th:text="${blog.title}">post title</td>
                        <td th:text="${blog.description}">post description</td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    <form th:action="@{blog/updateBlog/{id}(id=${blog.id})}" method="get" class="me-2">
                                        <button type="submit" class="btn btn-primary">
                                            Edit
                                        </button>
                                    </form>
                                </div>
                                <div>
                                <form th:action="@{/deleteBlog/{id}(id=${blog.id})}" method="get" class="me-2">
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>

                                </form>
                                    </div>
                                <div>
                                <form th:action="@{/viewBlog/{id} (id=${blog.id})}" method="get" class="me-2">
                                    <button type="submit" class="btn btn-info">
                                        View
                                    </button>
                                </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                    <a class="btn btn-primary" th:href="@{/blog/createBlogAdmin}">Create blog</a>

</div>
</div>
<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>