<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<div th:include="~{blogs/layout :: header}"></div>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:include="~{blogs/nav :: nav}"></div>
        <div class="col-md-8">
            <div class="container my-5" th:each="blog : ${Blogs}">
                <div class="card">
                    <h5 class="card-header" th:text="${blog.title}">Featured</h5>
                    <div class="card-body">
                        <p class="card-title mb-2 text-body-secondary"> Id blog <span th:text="${blog.id}" class="fst-italic">a</span></p>

                        <p class="card-text" th:text="${blog.description}">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <h5 class="card-footer">Readers subscribe</h5>
                </div>
                <div class="col-md-8">
                    <div class="" >

                        <div class="list-group" th:each="user : ${blog.getReaders()}">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex align-items-center">

                                    <div class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle text-primary" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                        </svg>
                                    </div>
                                    <div>
                                        <h5 class="mb-1" th:text="${user.name}">User Name</h5>
                                        <p class="mb-1" th:text="${user.email}">user@example.com</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>