<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>
<!--<div th:replace="~{layout :: header}">-->
<div>
    <div th:include="~{blogs/layout :: header}"></div>
</div>


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:include="~{blogs/nav :: nav}"></div>
        <div class="col-md-8">
            <div class="container my-4" th:each="blog : ${Blogs}">
                <div class="card">
                    <h5 class="card-header" th:text="${blog.title}">Featured</h5>
                    <div class="card-body">
                        <p class="card-title mb-2 text-body-secondary"> Id blog <span th:text="${blog.id}" class="fst-italic">a</span></p>

                        <p class="card-text" th:text="${blog.description}">With supporting text below as a natural lead-in to additional content.</p>
            <div th:if="${#lists.contains(blog.readers,reader)}">
                <form   th:action="@{/popBlogReader}" method="post">
                    <input type="hidden" name="readerId" th:value="${user.id}">
                    <input type="hidden" name="blogId" th:value="${blog.id}">
                    <button type="submit" class="btn btn-danger" >Eliminar suscripsion</button>
                </form>
            </div>
                        <div th:if="${!#lists.contains(blog.readers,reader)}">
                        <form   th:action="@{/addBlogReader}" method="post">
                            <input type="hidden" name="readerId" th:value="${user.id}">
                            <input type="hidden" name="blogId" th:value="${blog.id}">
                            <button type="submit" class="btn btn-primary" >Suscribirse</button>
                        </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
<script>
    function setBlogReader(blogId, readerId) {
        fetch(`/removeReader/${readerId}/${blogId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                alert('Reader added to blog');
            } else {
                alert('Failed to add reader to blog');
            }
        });
    }

    function popBlogReader(blogId, readerId) {
        fetch(`/api/blogs/${blogId}/popReader/${readerId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                alert('Reader removed from blog');
            } else {
                alert('Failed to remove reader from blog');
            }
        });
    }
</script>
</body>
</html>