<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>
<!--<div th:replace="~{layout :: header}">-->
<div>
    <div th:include="~{blogs/layout :: header}"></div>
</div>


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:include="~{blogs/nav :: nav}"></div>
        <div class="col-md-8">
            <div class="container" th:each="blog : ${Blogs}">
                <div class="card">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${blog.title}">Special title treatment</h5>
                        <p class="card-text" th:text="${blog.description}">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>