<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>

<body>
    <div th:fragment="header">
        <nav class="navbar bg-body-tertiary bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">XYZ</a>
                <div class="d-flex">
                    <a th:href="@{/logout}" class="mx-1">Logout</a>
                    <p th:text="${user.username}"></p>
                </div>
            </div>
        </nav>
    </div>


<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>