<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
</head>
<!--<div th:replace="~{layout :: header}">-->
<div>
    <div th:include="~{blogs/layout :: header}"></div>
</div>


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:include="~{blogs/nav :: nav}"></div>
        <div class="col-md-8">
            <div class="container" >
                <div class="list-group" th:each="user : ${readers}">
                    <a href="#" class="list-group-item list-group-item-action">
                        <h5 class="mb-1" th:text="${user.name}">User Name</h5>
                        <p class="mb-1" th:text="${user.email}">user@example.com</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>